* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 80%;
    background-color: black;
}

header {
    height: 200px;
    color: antiquewhite;
    display: flex;
    
}
.logo img{
    
    max-width: 170px; 
     height: auto; 
    margin: 35%  55%;
}

.navbar{
    padding-left: 25%;
    margin-top: 35px;
}
.navbar a {
    float: left; 
    display: block;
    text-align: right;
    color: white;
    padding: 25px 30px;
    text-decoration: none;
    font-size: .95rem;
    font-family: 'Kanit' 'Roboto';
    font-family: 'Roboto', sans-serif;
}
.caption{
    color: #f5eeeeea;
    font-size: 1.1rem;
    padding-top: 50px;
    text-align: center;
}
.main-section {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    
}

.main-section div {
    margin-bottom: 50px;
}
.main-section img {
    height: 270px;
    width: 449px;

} 
footer {
    background-color: #161f1e; 
    color: #fff; 
    padding: 20px; 
    height: 400px;
}

.footer-nav {
    display: flex; 
    gap:70px;
    padding-left: 52%; 
}
.footer-section a {
    text-decoration: none; 
    color: #fff; 
    display: block; 
    padding: 5px;
    margin-bottom: 10px; 
   font-family:sans-serif;
   font-size: 0.8rem;
}
.footer-section a:hover {
    text-decoration: underline; 
}

.flogo img {
    width: 150px; 
    height: auto; 
   padding-top: 80px;
   margin-left: 80px;
   
}
header {
    background-image: url('../assets/heder-Bakers-Bay-Golf.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    height: 400px; 
    text-align: center;
    color: white; 
    font-size: 15px; 
}