* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main-container {
    width: 100%;
    height: auto;
    background-color: #f3f3f3;
    display: flex;
    margin-bottom: 15%;

}

.side-bar {
    width: 20%;
    height: auto;
    background: #ffffff;

}

.main-section {
    width: 80%;
    height: auto;

}

.side-bar img {
    max-width: 100%;
    height: 23px;
    margin-top: 15px;
    margin-left: 60px;

}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image img {
    border-radius: 100%;
    height: auto;
    width: 70px;
    margin-right: 50px;
}

.name {
    font-family: Open Sans, sans-serif;
    font-size: .85rem;
    line-height: 1.5;
    color: #404852"

}

.name-p {
    color: #8d9498;
    font-size: .75rem;
    font-family: Open Sans, sans-serif;
}

.icon {

    display: flex;
    flex-direction: column;
    padding: 1rem 1.875rem;
    gap: 30px;
}

.header-main {
    display: flex;
    align-items: center;

}

header {
    background-color: #464de4;
    width: 100%;
    height: 10%;
    border: 1px solid green;
    padding: 20px;
}

.header-button {

    color: #ffffff;
    border: none;
    border-radius: 0.25rem;
    font-size: .95rem;
    padding: 10px;
    font-family: "Open Sans", sans-serif;
}

.header-button button {
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    margin-bottom: 10px;

}

.icon-img i {
    color: #8d9498;
    display: flex;
    font-size: 0.85rem;
    column-gap: 20px;
}

.button {
    background-color: #4CCEAC;
    color: #ffffff;
    border: 1px solid #4CCEAC;
    display: block;
    align-items: center;
    border-radius: 0.25rem;
    font-size: .75rem;
    font-weight: initial;
    padding: .25rem 0.375rem;
    font-family: "Open Sans", sans-serif;
}

input[type="range"] {
    width: 100%;

    background: #857bff;

}

input[type="range"] {
    width: 95%;

    background: #DB504A;
}

.buton-doc {
    background-color: #464de4;
    color: #ffffff;
    width: 180px;
    height: 42px;
    padding: 12px;
    border-radius: 3px;
    border: none;
}

.text-range {
    color: #404852;
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
}

.button-graph {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.875rem;
    gap: 20px;
}

.main-section-two {
    margin-top: 2%;
    display: flex;
    flex-wrap: nowrap;
    background: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
}

.main-section-two div {
    background: #ffffff;
    width: 350px;
    height: 120px;
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid rgb(238, 219, 219);

}

.main-section-two-logo {
    text-align: center;
    display: flex;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    border: #404852;
    color: #354168;
    font-weight: 400;
    font-size: 0.8rem
}

.main-section-three {
    margin-top: 2%;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    margin-left: 20px;
}

.main-section-three div {
    background: #ffffff;
    width: 332px;
    height: 470px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(238, 219, 219);
    gap: 10px;
}

.image-div img {
    border-radius: 100%;
    height: auto;
    width: 70px;
    margin-right: 15px;
    margin-top: 20px;

}

.image-div {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form-p {
    font-weight: 400;
    font-size: 0.8rem;
    margin-top: 1.5rem;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    position: relative;
    color: #8d9498;
    line-height: 1.5;
}

.follow-button {
    color: #fff;
    background-color: #464de4;
    display: block;
    align-items: center;
    border-radius: 0.1875rem;
    ;
    font-size: 0.875rem;
    font-weight: initial;
    padding: 0.5rem 0.81rem;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    border-color: #464de4;
}

.table th td {
    display: block;
    justify-content: space-evenly;
}

.table th,
td,
tr {
    font-weight: 400;
    font-size: 0.7rem;
    margin-top: 1.5rem;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    position: relative;
    color: #354168;
    line-height: 1.5;
    padding: 5px;
}

.sub-div-two div {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
   border: none;
    font-weight: 400;
    font-size: 0.9rem;
    font-family: "Open Sans", sans-serif;
    color: #354168;
    line-height: 1.5;
    
}

.text-div{
    
    padding-right: 100px;
}
.sub-div-three {
    margin-top: 2%;
    margin: 20px;

}

.table-two {
    width: 100%;
    height: auto;
    color: #212529;
}


.table-two th {
    color: #8d9498;
    font-weight: 500;
    font-size: 1.3rem;
    font-family: "Open Sans", sans-serif;
    padding: 0.7375rem;
}

.table-two td {
    font-size: 0.95rem;
    color: #8d9498;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    vertical-align: middle;
    padding: 0.9375rem;
    background: #ffffff
}

.table-btn {
    border: 1px solid #4CCEAC;
    color: #ffffff;
    border-radius: 0.25rem;
    font-size: .75rem;
    font-weight: initial;
    line-height: 1;
    padding: 0.35rem 0.675rem;
    font-family: Open Sans, sans-serif;
    background-color: #4CCEAC;
}

.subdiv-form {
    display: flex;
    border: 1px solid red;
    justify-content: flex-start;
    padding: 0;
    width: 300px;
}